<!-- testimonial section -->
<section class="testimonial">
  <h3>
    What Users Are Saying About Boxlt
  </h3>
  <div class="test-card">
    <div class="customer">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus
        possimus totam laboriosam sapiente unde commodi assumenda mollitia.
        Illum voluptatem suscipit officiis. Dolorum dignissimos maiores tempora
        sint corporis praesentium possimus?
      </p>
      <div class="customer-img">
        <img src="/assets/smile.jpeg" alt="customer" class="customer-img" />
      </div>
      <h4>
        Customer
      </h4>
    </div>
    <div class="customer">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus
        possimus totam laboriosam sapiente unde commodi assumenda mollitia.
        Illum voluptatem suscipit officiis. Dolorum dignissimos maiores tempora
        sint corporis praesentium possimus?
      </p>
      <div class="customer-img">
        <img src="/assets/smile.jpeg" alt="customer" class="customer-img" />
      </div>
      <h4>
        Customer
      </h4>
    </div>
  </div>
</section>
<!-- end of testimonials -->
