
<!-- footer -->
<section class="footer">
        <div class="footer-container">
          <div class="footer-card bus-img">
            <img src="/assets/deliverybus.png" width="70px" />
            <h2>Deliver</h2>
          </div>
          <div class="footer-card footer-text">
            <h4>About Box-xIt</h4>
            <ul>
              <li>
                How Box-It works
              </li>
              <li>
                Safety
              </li>
              <li>
                Careers
              </li>
              <li>
                Countries
              </li>
              <li>
                FAQs
              </li>
            </ul>
          </div>
          <div class="footer-card footer-text">
            <h4>Be a Dispatcher</h4>
            <ul>
              <li>
                Signup to be a Dispatcher
              </li>
              <li>
                Requirement
              </li>
              <li>
                Driver App
              </li>
              <br />
              <br />
            </ul>
          </div>
        </div>
        <div class="footer-app-download">
          <img src="/assets/google-play-badge-en.png" alt="app-store" width="200" />
        </div>
      </section>
      <!-- end of footer -->
      
      <!-- privacy section -->
      <section class="privacy">
        <div class="privacy-text">
          <ul>
            <li>
              Accessibility
            </li>
            <li>
              Terms
            </li>
            <li class="date">
              @2018 BoxIt
            </li>
          </ul>
        </div>
      </section>
      