<!-- recommended Restaurants title-->
<div class="recommended-title">
  <h3>Recommended Restaurants</h3>
  <span><a href="#" class="view-link">View all Restaurant</a></span>
</div>

<section class="recommended-restuarant">
  <div class="rr-card-container">
    <div class="rr-card">
      <img src="/assets/jollofetcetera-lagos.jpg" alt="jellof" class="rr-img" />
      <div class="card-body">
        <div>Jollof Etcetera</div>
        <div class="star-icon">
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button1.svg" />
          <img src="/assets/rate-star-button1.svg" />
          <span>(30)</span>
        </div>
      </div>
    </div>
    <div class="rr-card">
      <img src="/assets/jollofetcetera-lagos.jpg" alt="jellof" class="rr-img" />
      <div class="card-body">
        <div>Jollof Etcetera</div>
        <div class="star-icon">
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button1.svg" />
          <img src="/assets/rate-star-button1.svg" />
          <span>(30)</span>
        </div>
      </div>
    </div>
    <div class="rr-card hide">
      <img src="/assets/jollofetcetera-lagos.jpg" alt="jellof" class="rr-img" />
      <div class="card-body">
        <div>Jollof Etcetera</div>
        <div class="star-icon">
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button1.svg" />
          <img src="/assets/rate-star-button1.svg" />
          <span>(30)</span>
        </div>
      </div>
    </div>
    <div class="rr-card hide">
      <img src="/assets/jollofetcetera-lagos.jpg" alt="jellof" class="rr-img" />
      <div class="card-body">
        <div>Jollof Etcetera</div>
        <div class="star-icon">
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button.svg" />
          <img src="/assets/rate-star-button1.svg" />
          <img src="/assets/rate-star-button1.svg" />
          <span>(30)</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of recommended restaurant -->
