<!-- what we do  -->
<div class="what-we-do">
  <div class="wwd-card">
    <img src="/assets/store.png" alt="" class="wwd-card-img" />
    <p>Over 500 <br />Restaurants</p>
  </div>
  <div class="wwd-card">
    <img src="/assets/take-away.png" alt="" class="wwd-card-img" />
    <p>Over 500 <br />Deliveries Made</p>
  </div>
  <div class="wwd-card">
    <img src="/assets/group.png" alt="" class="wwd-card-img" />
    <p>Over 500 <br />Registered customers</p>
  </div>
</div>
<!-- end of what we do -->
