<!-- hero banner and search bar -->
<!-- </section> -->
<section class="hero">
        <div class="title">
          <h1>Food Delivery Directly <br />To Your Doorstep</h1>
        </div>
        <div class="search-food-delivery">
          <label>
            <select name="" id="" class="select-css">
              <option value="">Select City</option>
              <option value="">Maxng</option>
              <option value="">Moni</option>
            </select>
          </label>
          <label>
            <select name="" id="" class="select-css">
              <option value="">Select City</option>
              <option value="">Maxng</option>
              <option value="">Moni</option>
            </select>
          </label>
          <button class="search-button">Find Restaurants</button>
        </div>
      </section>