<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<section class="head">
  <!-- <section class="main-container"> -->
  <!-- hand burger menu icon -->
  <div class="hand-burger-container">
    <div class="hand-burger"></div>
    <div class="hand-burger"></div>
    <div class="hand-burger"></div>
  </div>
  <a href="#" class="logo icon">
    <img src="/assets/deliverybus.png" width="30" class="log-img" /><span
      class="delivery-bus"
      >Deliver</span
    ></a
  >
  <!-- main menu -->
  <nav>
    <ul>
      <li><a>Courier Services</a></li>
      <li><a>Food Delivery</a></li>
      <li><a>How it works</a></li>
      <li><a>FAQs</a></li>
      <li><a>Sign In</a></li>
      <li>
        <a>
          Become A Dispatcher
        </a>
      </li>
    </ul>
  </nav>
  <!-- end of main menu -->
</section>
<!-- navigation -->
<nav class="nav-bar">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Payment Methods</a></li>
    <li><a href="#">My Order</a></li>
  </ul>

  <a href="#" class="cart">Cart</a>
</nav>
<!-- end navigation -->
<!-- hero banner and search bar -->
<!-- </section> -->
<section class="hero">
  <div class="title">
    <h1>Food Delivery Directly <br />To Your Doorstep</h1>
  </div>
  <div class="search-food-delivery">
    <label>
      <select name="" id="" class="select-css">
        <option value="">Select City</option>
        <option value="">Maxng</option>
        <option value="">Moni</option>
      </select>
    </label>
    <label>
      <select name="" id="" class="select-css">
        <option value="">Select City</option>
        <option value="">Maxng</option>
        <option value="">Moni</option>
      </select>
    </label>
    <button class="search-button">Find Restaurants</button>
  </div>
</section>
<!-- main content container -->
<section class="container">
  <!-- what we do  -->
  <div class="what-we-do">
    <div class="wwd-card">
      <img src="/assets/store.png" alt="" class="wwd-card-img" />
      <p>Over 500 <br />Restaurants</p>
    </div>
    <div class="wwd-card">
      <img src="/assets/take-away.png" alt="" class="wwd-card-img" />
      <p>Over 500 <br />Deliveries Made</p>
    </div>
    <div class="wwd-card">
      <img src="/assets/group.png" alt="" class="wwd-card-img" />
      <p>Over 500 <br />Registered customers</p>
    </div>
  </div>
  <!-- end of what we do -->
  <!-- recommended Restaurants title-->
  <div class="recommended-title">
    <h3>Recommended Restaurants</h3>
    <span><a href="#" class="view-link">View all Restaurant</a></span>
  </div>

  <section class="recommended-restuarant">
    <div class="rr-card-container">
      <div class="rr-card">
        <img
          src="/assets/jollofetcetera-lagos.jpg"
          alt="jellof"
          class="rr-img"
        />
        <div class="card-body">
          <div>Jollof Etcetera</div>
          <div class="star-icon">
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button1.svg" />
            <img src="/assets/rate-star-button1.svg" />
            <span>(30)</span>
          </div>
        </div>
      </div>
      <div class="rr-card">
        <img
          src="/assets/jollofetcetera-lagos.jpg"
          alt="jellof"
          class="rr-img"
        />
        <div class="card-body">
          <div>Jollof Etcetera</div>
          <div class="star-icon">
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button1.svg" />
            <img src="/assets/rate-star-button1.svg" />
            <span>(30)</span>
          </div>
        </div>
      </div>
      <div class="rr-card hide">
        <img
          src="/assets/jollofetcetera-lagos.jpg"
          alt="jellof"
          class="rr-img"
        />
        <div class="card-body">
          <div>Jollof Etcetera</div>
          <div class="star-icon">
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button1.svg" />
            <img src="/assets/rate-star-button1.svg" />
            <span>(30)</span>
          </div>
        </div>
      </div>
      <div class="rr-card hide">
        <img
          src="/assets/jollofetcetera-lagos.jpg"
          alt="jellof"
          class="rr-img"
        />
        <div class="card-body">
          <div>Jollof Etcetera</div>
          <div class="star-icon">
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button.svg" />
            <img src="/assets/rate-star-button1.svg" />
            <img src="/assets/rate-star-button1.svg" />
            <span>(30)</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of recommended restaurant -->
  <app-how-it-works></app-how-it-works>
  <app-popular-restaurants></app-popular-restaurants>
  <app-download-component></app-download-component>
  <app-testimony-card></app-testimony-card>
</section>
<app-footer></app-footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
