<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<section class="head">
  <section class="main-container">
    <!-- hand burger menu icon -->
    <div class="hand-burger-container">
      <div class="hand-burger"></div>
      <div class="hand-burger"></div>
      <div class="hand-burger"></div>
    </div>
    <a href="#" class="logo icon">
      <img src="/assets/deliverybus.png" width="30" class="log-img" /><span
        class="delivery-bus"
        >Deliver</span
      ></a
    >
    <!-- main menu -->
    <nav>
      <ul>
        <li><a>Courier Services</a></li>
        <li><a>Food Delivery</a></li>
        <li><a>How it works</a></li>
        <li><a>FAQs</a></li>
        <li><a>Sign In</a></li>
        <!-- <li>
          <a>
            Become A Dispatcher
          </a>
      </li> -->
      </ul>
    </nav>
    <!-- end of main menu -->
    <!-- navigation -->
    <nav class="nav-bar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Payment Methods</a></li>
        <li><a href="#">My Order</a></li>
      </ul>

      <a href="#" class="cart">Cart</a>
    </nav>
    <!-- end navigation -->
  </section>
</section>
<!-- hero banner and search bar -->
<section class="hero">
  <div class="title">
    <h1>Food Delivery Directly <br />To Your Doorstep</h1>
  </div>
  <div class="search-food-delivery">
    <label>
      <select name="" id="" class="select-css">
        <option value="">Select City</option>
        <option value="">Maxng</option>
        <option value="">Moni</option>
      </select>
    </label>
    <label>
      <select name="" id="" class="select-css">
        <option value="">Select City</option>
        <option value="">Maxng</option>
        <option value="">Moni</option>
      </select>
    </label>
    <button class="search-button">Fnd Restaurants</button>
  </div>
</section>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
