<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-nav-bar></app-nav-bar>
<!-- end navigation -->
<app-hero-banner></app-hero-banner>
<!-- main content container -->
<section class="container">
  <app-what-we-do></app-what-we-do>
  <!-- recommended restaurants -->
  <app-restaurant [data]="appData.recom"></app-restaurant>
  <!-- how it works -->
  <app-how-it-works></app-how-it-works>
  <!-- popular restuarants -->
  <app-restaurant [data]="appData.popular"></app-restaurant>
  <!-- download section -->
  <app-download-component></app-download-component>
  <!-- testimony section -->
  <app-testimony-card></app-testimony-card>
</section>
<!-- footer -->
<app-footer></app-footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
