<section class="head">
  <!-- <section class="main-container"> -->
  <!-- hand burger menu icon -->
  <div class="hand-burger-container" (click)="clickHandBurger()">
    <div class="hand-burger"></div>
    <div class="hand-burger"></div>
    <div class="hand-burger"></div>
  </div>
  <a href="#" class="logo icon">
    <img src="/assets/deliverybus.png" width="30" class="log-img" /><span
      class="delivery-bus"
      >Deliver</span
    ></a
  >
  <!-- main menu -->
  <nav class="main-nav-bar">
    <ul>
      <li><a>Courier Services</a></li>
      <li><a>Food Delivery</a></li>
      <li><a>How it works</a></li>
      <li><a>FAQs</a></li>
      <li><a>Sign In</a></li>
      <li>
        <a>
          Become A Dispatcher
        </a>
      </li>
    </ul>
  </nav>
  <!-- end of main menu -->
</section>
<!-- navigation -->
<nav class="nav-bar">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Payment Methods</a></li>
    <li><a href="#">My Order</a></li>
  </ul>

  <a href="#" class="cart">Cart</a>
</nav>
