  <!-- download app -->
  <section class="download-app">
        <div class="phone">
          <img src="/assets/01.png" alt="" class="phone-img" />
        </div>
        <div class="downloads">
          <h3>
            Download Our App
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint corrupti
            animi, quasi natus fugit sunt eos, laborum a distinctio vel alias ipsa
            ducimus exercitationem eum! Inventore modi atque blanditiis porro.
          </p>
          <img src="/assets/google-play-badge-en.png" alt="play-store-app" />
        </div>
      </section>
      <!-- end of download app -->