/* You can add global styles to this file, and also import other style files */

body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

.main-container {
  /* width: 80%; */
  /* margin: auto; */
  background: red;
}

@media screen and (max-width: 639px) {
  /* body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
  } */
  .main-container {
    /* width: 90%; */
    /* margin: auto; */
    /* padding-left: 0; */
    /* border: 1px solid red; */

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #5c0426;
    padding-left: 1rem;
  }

  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    background-color: #5c0426;
  }

  .head a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
  }

  .head span {
    margin-left: 0.5rem;
  }

  .head nav ul {
    list-style-type: none;
    display: none;
  }

  .head nav > ul > li,
  nav > button {
    display: none;
  }
  .hand-burger {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 3px;
  }

  nav.nav-bar {
    /* border: 1px solid green; */
    height: 50px;
  }

  .nav-bar {
    display: flex;
    align-items: center;
  }

  .nav-bar a {
    text-decoration: none;
    margin-left: auto;
    padding-right: 15px;
  }
  .nav-bar ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    align-items: center;
    font-size: 12px;
  }

  .nav-bar ul li {
    padding: 4px;
  }
  .hero {
    /* border: 1px solid blue; */
    height: 200px;
    background-image: url("/assets/banner.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #5c0426;
  }
  .search-food-delivery {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: white;
    width: 100%;
    border-radius: 30px;
    margin-top: 25px;
    margin: auto;
    box-shadow: 0px 25px 30px #00000022;
  }

  .search-button {
    margin-left: auto;
    background-color: #5c0426;
    border-radius: 0px 30px 30px 0px;
    border: none;
    color: #d6d6d6;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .select-css {
    padding: 1.2em 1.2em 1.2em 3.2em;
    color: #8a959e;
    border: none;
    background-repeat: no-repeat;
    background-color: white;
    outline: none;
    width: 100%;
  }

  /* The CSS */
  select {
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 3px 0 rgb(255, 255, 255), 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 rgb(255, 253, 253), 0 -1px #fff inset;
    box-shadow: 0 3px 0 rgb(255, 255, 255), 0 -1px #fff inset;
    background: #f8f8f8;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
  }

  label:after {
    content: ">";
    font: 11px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 20px;
    top: 45%;
    position: absolute;
    pointer-events: none;
  }
  label:before {
    content: "";
    right: 6px;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    position: absolute;
    pointer-events: none;
    display: block;
  }

  label {
    width: 100%;
    position: relative;
  }
  /* this hied the drowdown for older browser */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
      padding-right: 18px;
    }
  }

  /* what we do section */

  .what-we-do {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .wwd-card {
    color: #8a959e;
    /* font-weight: bold; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1.5rem;
    width: 100%;
    margin: auto;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1),
      0 0 20px 10px rgba(0, 0, 0, 0.035);
    -webkit-box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1),
      0 0 20px 10px rgba(0, 0, 0, 0.035);
    text-align: center;
  }

  .wwd-card img {
    /* margin-right: 30px; */
    padding-right: 1rem;
    width: 40px;
  }

  .wwd-card span {
    /* border: 1px solid black; */
    width: 60%;
  }

  .wwd-card p {
    float: left;
    width: 70%;
  }

  /* recommended section */
  .recommended-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #707172;
    text-align: center;
    margin: 4 auto;
  }

  .recommended-restuarant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .rr-card {
    width: 200px;
    box-shadow: 0 0.5rem 1.5rem rgba(20, 28, 45, 0.15) !important;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 1rem;
  }

  .rr-card:after {
    width: 20px;
    height: 20px;
    border-top-right-radius: 30px;
    background-color: #5c0426;
    position: relative;
    top: 0px;
  }

  .rr-img {
    width: inherit;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }

  .card-body div:first-child {
    padding-bottom: 8px;
  }

  .star-icon {
    color: #dededf;
  }

  /* how it works */
  .how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c0426;
    color: white;
    padding: 30px;
  }

  .how-it-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .how-it {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .how-it-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
  }

  /* how it works */
  .how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5c0426;
    color: white;
    padding: 30px;
  }

  .how-it {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .how-it-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
  }

  /* download app */
  .download-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    height: 300px;
    background-image: url("/assets/580b57fcd9996e24bc43c1a8.png");
    background-repeat: no-repeat;
    background-position-x: 71rem;
    background-size: 470px;
  }

  .phone-img {
    width: 400px;
  }
  .phone {
    display: none;
  }

  .downloads {
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .phone-app {
    position: relative;
    top: 0px;
    left: 0px;
    color: white;
  }

  .burger {
    width: 500px;
    position: absolute;
    right: -190px;
    border: 1px solid red;
  }

  /* testimonial section */
  .testimonial {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .testimonial h3 {
    padding-top: 2rem;
  }

  .customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1em;
  }

  .customer-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  .test-card {
    width: 100%;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .hero {
    height: 250px;
  }
  .search-food-delivery {
    width: 60%;
    flex-wrap: wrap;
    background: none;
  }
  .search-button {
    width: 100%;
    border-radius: 30px;
  }
}

@media screen and (max-width: 640px) {
  .search-food-delivery {
    width: 80%;
  }
}
